<section class="question">
	<div class="question__item active">
		<div class="question__item-top">
			<div class="question__item-top--text">
				<p class="question__item-top--text_name">Что вы хотите сделать?</p>
				<p class="question__item-top--text_desc">«Траст» входит в состав Российской Гильдии Риэлторов. Стандарты качества услуг компании сертифицированы, деятельность застрахована.</p>
			</div>
			<div class="answer">
				<button class="answer__item">Купить недвижимость</button>
				<button class="answer__item">Обменять недвижимость</button>
				<button class="answer__item">Продать недвижимость</button>
				<button class="answer__item">Еще что-то сделать</button>
			</div>
		</div>
		<div class="question__item-bot">
			<p class="question__num">
				Вопрос
				<span class="question__num-first">1</span>
				из
				<span class="question__num-second">5</span>
			</p>
			<div class="question__buttons">
				<button class="question__buttons-prev">
					<svg>
						<use xlink:href="img/sprite.svg#left_arrow"></use>
					</svg>
				</button>
				<button class="question__buttons-next">Далее</button>
			</div>
		</div>
	</div>
	<div class="question__item">
		<div class="question__item-top">
			<div class="question__item-top--text">
				<p class="question__item-top--text_name">Что вы хотите сделать?</p>
				<p class="question__item-top--text_desc">«Траст» входит в состав Российской Гильдии Риэлторов. Стандарты качества услуг компании сертифицированы, деятельность застрахована.</p>
			</div>
			<div class="answer">
				<button class="answer__item">Купить недвижимость</button>
				<button class="answer__item">Обменять недвижимость</button>
				<button class="answer__item">Продать недвижимость</button>
				<button class="answer__item">Еще что-то сделать</button>
			</div>
		</div>
		<div class="question__item-bot">
			<p class="question__num">
				Вопрос
				<span class="question__num-first">1</span>
				из
				<span class="question__num-second">5</span>
			</p>
			<div class="question__buttons">
				<button class="question__buttons-prev">
					<svg>
						<use xlink:href="img/sprite.svg#left_arrow"></use>
					</svg>
				</button>
				<button class="question__buttons-next">Далее</button>
			</div>
		</div>
	</div>
	<div class="question__item">
		<div class="question__item-top">
			<div class="question__item-top--text">
				<p class="question__item-top--text_name">Что вы хотите сделать?</p>
				<p class="question__item-top--text_desc">«Траст» входит в состав Российской Гильдии Риэлторов. Стандарты качества услуг компании сертифицированы, деятельность застрахована.</p>
			</div>
			<div class="answer">
				<button class="answer__item">Купить недвижимость</button>
				<button class="answer__item">Обменять недвижимость</button>
				<button class="answer__item">Продать недвижимость</button>
				<button class="answer__item">Еще что-то сделать</button>
			</div>
		</div>
		<div class="question__item-bot">
			<p class="question__num">
				Вопрос
				<span class="question__num-first">1</span>
				из
				<span class="question__num-second">5</span>
			</p>
			<div class="question__buttons">
				<button class="question__buttons-prev">
					<svg>
						<use xlink:href="img/sprite.svg#left_arrow"></use>
					</svg>
				</button>
				<button class="question__buttons-next">Далее</button>
			</div>
		</div>
	</div>
	<div class="question__item">
		<div class="question__item-top">
			<div class="question__item-top--text">
				<p class="question__item-top--text_name">Что вы хотите сделать?</p>
				<p class="question__item-top--text_desc">«Траст» входит в состав Российской Гильдии Риэлторов. Стандарты качества услуг компании сертифицированы, деятельность застрахована.</p>
			</div>
			<div class="answer">
				<button class="answer__item">Купить недвижимость</button>
				<button class="answer__item">Обменять недвижимость</button>
				<button class="answer__item">Продать недвижимость</button>
				<button class="answer__item">Еще что-то сделать</button>
			</div>
		</div>
		<div class="question__item-bot">
			<p class="question__num">
				Вопрос
				<span class="question__num-first">1</span>
				из
				<span class="question__num-second">5</span>
			</p>
			<div class="question__buttons">
				<button class="question__buttons-prev">
					<svg>
						<use xlink:href="img/sprite.svg#left_arrow"></use>
					</svg>
				</button>
				<button class="question__buttons-next">Далее</button>
			</div>
		</div>
	</div>
	<div class="question__item">
		<div class="question__item-top">
			<div class="question__item-top--text">
				<p class="question__item-top--text_name">Что вы хотите сделать?</p>
				<p class="question__item-top--text_desc">«Траст» входит в состав Российской Гильдии Риэлторов. Стандарты качества услуг компании сертифицированы, деятельность застрахована.</p>
			</div>
			<div class="answer">
				<button class="answer__item">Купить недвижимость</button>
				<button class="answer__item">Обменять недвижимость</button>
				<button class="answer__item">Продать недвижимость</button>
				<button class="answer__item">Еще что-то сделать</button>
			</div>
		</div>
		<div class="question__item-bot">
			<p class="question__num">
				Вопрос
				<span class="question__num-first">1</span>
				из
				<span class="question__num-second">5</span>
			</p>
			<div class="question__buttons">
				<button class="question__buttons-prev">
					<svg>
						<use xlink:href="img/sprite.svg#left_arrow"></use>
					</svg>
				</button>
				<button class="question__buttons-next">Далее</button>
			</div>
		</div>
	</div>
</section>