<div class="manager">
  <img src="img/manager.jpg" alt="" class="manager__photo">
  <div class="manager__info">
    <p class="manager__info-name">Валентина Суворова</p>
    <p class="manager__info-job">Менеджер, руководитель группы, ведущий эксперт по недвижимости</p>
    <div class="manager__info-reviews">
      <div class="stars">
        <svg class="stars__item">
          <use xlink:href="img/sprite.svg#star"></use>
        </svg>
        <svg class="stars__item">
          <use xlink:href="img/sprite.svg#star"></use>
        </svg>
        <svg class="stars__item">
          <use xlink:href="img/sprite.svg#star"></use>
        </svg>
        <svg class="stars__item">
          <use xlink:href="img/sprite.svg#star"></use>
        </svg>
        <svg class="stars__item">
          <use xlink:href="img/sprite.svg#star"></use>
        </svg>
      </div>
      <p class="manager__info-reviews_grade">4,7 ・ <span>191 отзыв</span></p>
    </div>
    <div class="experience">
      <div class="experience__item">
        <p class="experience__item-name">Опыт работы</p>
        <p class="experience__item-value">с 2010 года</p>
      </div>
      <div class="experience__item">
        <p class="experience__item-name">Предложений</p>
        <p class="experience__item-value">16</p>
      </div>
      <div class="experience__item">
        <p class="experience__item-name">Отзывов</p>
        <p class="experience__item-value">191</p>
      </div>
    </div>
  </div>
</div>