<div class="catalog-filter">
	<div class="catalog-filter__item">
		<p class="catalog-filter__item-name">Тип недвижимости</p>
		<select class="catalog-filter__item-select">
			<option value="" selected>Все квартиры</option>
			<option value="">Все квартиры 2</option>
			<option value="">Все квартиры 3</option>
		</select>
	</div>
	<div class="catalog-filter__item">
		<p class="catalog-filter__item-name">Комнатность</p>
		<div class="catalog-filter__item-room">
			<button class="catalog-filter__item-room_item">Студия</button>
			<button class="catalog-filter__item-room_item">1</button>
			<button class="catalog-filter__item-room_item">2</button>
			<button class="catalog-filter__item-room_item">3</button>
			<button class="catalog-filter__item-room_item">4+</button>
		</div>
	</div>
	<div class="catalog-filter__item">
		<p class="catalog-filter__item-name">Стоимость, Р</p>
		<div class="catalog-filter__item-cost">
			<input type="number" class="catalog-filter__item-cost_input" placeholder="от">
			<input type="number" class="catalog-filter__item-cost_input" value="4700000" placeholder="до">
		</div>
	</div>
	<div class="catalog-filter__item">
		<p class="catalog-filter__item-name">Район</p>
		<div class="catalog-filter__item-select">
			Выбрано 4
		</div>
	</div>
	<div class="catalog-filter__item">
		<p class="catalog-filter__item-name">Расположение</p>
		<div class="catalog-filter__item-location">
			<input type="text" class="catalog-filter__item-location_input" placeholder="Введите район, улицу, дом">
		</div>
	</div>
	<button class="catalog-filter__more">
		<svg>
			<use xlink:href="img/sprite.svg#filter"></use>
		</svg>
		Еще фильтры
	</button>
	<button class="catalog-filter__show">Показать 1778 предложений</button>
</div>