<aside class="mini-catalog">
	<div class="container">
		<div class="mini-catalog__item">
			<a href="/" class="mini-catalog__item-link fat">Все квартиры</a>
			<a href="/" class="mini-catalog__item-link fat">Квартиры в новостройке</a>
			<a href="/" class="mini-catalog__item-link fat">Квартиры во вторичке</a>
			<a href="/" class="mini-catalog__item-link fat">Акции и скидки </a>
		</div>
		<div class="mini-catalog__item">
			<a href="/" class="mini-catalog__item-link">Квартиры студии</a>
			<a href="/" class="mini-catalog__item-link">1-комнатные квартиры</a>
			<a href="/" class="mini-catalog__item-link">2-комнатные квартиры</a>
			<a href="/" class="mini-catalog__item-link">3-комнатные квартиры</a>
			<a href="/" class="mini-catalog__item-link">4-комнатные квартиры </a>
			<a href="/" class="mini-catalog__item-link">Квартиры в Воронеже </a>
		</div>
		<div class="mini-catalog__item">
			<a href="/" class="mini-catalog__item-link">Квартиры на правом берегу</a>
			<a href="/" class="mini-catalog__item-link">Квартиры на левом берегу</a>
			<a href="/" class="mini-catalog__item-link">Квартиры в Железнодорожном р-не</a>
			<a href="/" class="mini-catalog__item-link">Квартиры в Советском р-не</a>
			<a href="/" class="mini-catalog__item-link">Квартиры в Ленинском р-не</a>
			<a href="/" class="mini-catalog__item-link">Квартиры в Коминтерновском р-не</a>
		</div>
		<div class="mini-catalog__loyalty">
			<p class="mini-catalog__loyalty-title">Программа лояльности</p>
			<p class="mini-catalog__loyalty-desc">Вступайте в клуб,
				получайте бонусы
				и скидки</p>
			<a href="/" class="mini-catalog__loyalty-button">
				<svg>
					<use xlink:href="img/sprite.svg#arrow_right"></use>
				</svg>
			</a>
		</div>
	</div>
</aside>