<div class="bonus">
	<div class="bonus__item">
		<div class="bonus__item-text">
			<p class="bonus__item-text--name">Ипотека онлайн</p>
			<p class="bonus__item-text--desc">Поможем получить одобрение банков, чтобы вы могли</p>
		</div>
		<svg>
			<use xlink:href="img/sprite.svg#right_arrow"></use>
		</svg>
	</div>
	<div class="bonus__item">
		<div class="bonus__item-text">
			<p class="bonus__item-text--name">Поменяем на новую</p>
			<p class="bonus__item-text--desc">Поможем получить одобрение банков, чтобы вы могли</p>
		</div>
		<svg>
			<use xlink:href="img/sprite.svg#right_arrow"></use>
		</svg>
	</div>
	<div class="bonus__item">
		<div class="bonus__item-text">
			<p class="bonus__item-text--name">Оценка стоимости</p>
			<p class="bonus__item-text--desc">Поможем получить одобрение банков, чтобы вы могли</p>
		</div>
		<svg>
			<use xlink:href="img/sprite.svg#right_arrow"></use>
		</svg>
	</div>
</div>