.bonus{
  display: flex;
  align-items: stretch;
  gap: 20px;

  &__item{
    width: 100%;
    box-sizing: border-box;
    padding: 22px 31px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    gap: 35px;

    &:first-child{
      background: url("../img/b1.webp") no-repeat right/contain;
      background-color: #C71E1E;
    }

    &:nth-child(2){
      background: url("../img/b2.webp") no-repeat right/contain;
      background-color: #3E3E3E;
    }

    &:last-child{
      background: url("../img/b3.webp") no-repeat right/contain;
      background-color: #416494;
    }

    svg{
      width: 13px;
      height: 13px;
    }

    &-text{
      display: flex;
      flex-direction: column;
      gap: 9px;
      max-width: 219px;

      &--name{
        font-size: 21px;
        font-weight: 600;
        line-height: 23px;
        letter-spacing: -0.015em;
        color: white;
      }

      &--desc{
        font-size: 14px;
        line-height: 20px;
        color: white;
      }
    }
  }
}