<section class="feedback">
	<form action="" class="feedback__form">
		<p class="feedback__form-title">Не нашли то, что искали?</p>
		<p class="feedback__form-title red">Найдём под заказ.</p>
		<p class="feedback__form-desc">В данном случае я выступаю в роли Морфеуса — лишь указываю на дверь, войти придётся самостоятельно.</p>
		<input type="text" class="feedback__form-input" placeholder="Ваше имя">
		<input type="tel" class="feedback__form-input" placeholder="Номер телефона">
		<button type="submit" class="feedback__form-button">Перезвоните мне</button>
		<p class="feedback__form-personal">
			Нажимая «Перезвоните мне», я даю
			<a href="/" class="feedback__form-personal_link">согласие на обработку персональных данных</a>
		</p>
	</form>
	<img src="img/feedback.webp" alt="" class="feedback__image">
</section>