<section class="exclusive">
	<div class="exclusive__top">
		<div class="exclusive__top-text">
			<p class="exclusive__top-text--title">Эксклюзивные варианты</p>
			<p class="exclusive__top-text--desc">В данном случае я выступаю в роли Морфеуса — лишь указываю на дверь, войти придётся самостоятельно.</p>
		</div>
		<a href="" class="exclusive__top-button">Все эксклюзивы</a>
	</div>
	<div class="exclusive__bot swiper">
		<div class="swiper-wrapper">
			<div class="exclusive__apart swiper-slide">
				<img src="img/ex.jpg" alt="" class="exclusive__apart-image">
				<div class="exclusive__apart-info">
					<div class="exclusive__apart-info--left">
						<p class="exclusive__apart-price">13 750 000 ₽</p>
						<p class="exclusive__apart-chars">3-к квартира, 57м2, 12/15 эт.</p>
						<p class="exclusive__apart-address">Коминтерновский район, Московский проспект,114</p>
					</div>
					<div class="exclusive__apart-info--right">
						<button class="exclusive__apart-like">
							<svg>
								<use xlink:href="img/sprite.svg#like"></use>
							</svg>
						</button>
						<button class="exclusive__apart-watch">Показать номер</button>
					</div>
				</div>
				<p class="exclusive__apart-bonus">Кухня в подарок</p>
			</div>
			<div class="exclusive__apart swiper-slide">
				<img src="img/ex.jpg" alt="" class="exclusive__apart-image">
				<div class="exclusive__apart-info">
					<div class="exclusive__apart-info--left">
						<p class="exclusive__apart-price">13 750 000 ₽</p>
						<p class="exclusive__apart-chars">3-к квартира, 57м2, 12/15 эт.</p>
						<p class="exclusive__apart-address">Коминтерновский район, Московский проспект,114</p>
					</div>
					<div class="exclusive__apart-info--right">
						<button class="exclusive__apart-like">
							<svg>
								<use xlink:href="img/sprite.svg#like"></use>
							</svg>
						</button>
						<button class="exclusive__apart-watch">Показать номер</button>
					</div>
				</div>
			</div>
			<div class="exclusive__apart swiper-slide">
				<img src="img/ex.jpg" alt="" class="exclusive__apart-image">
				<div class="exclusive__apart-info">
					<div class="exclusive__apart-info--left">
						<p class="exclusive__apart-price">13 750 000 ₽</p>
						<p class="exclusive__apart-chars">3-к квартира, 57м2, 12/15 эт.</p>
						<p class="exclusive__apart-address">Коминтерновский район, Московский проспект,114</p>
					</div>
					<div class="exclusive__apart-info--right">
						<button class="exclusive__apart-like">
							<svg>
								<use xlink:href="img/sprite.svg#like"></use>
							</svg>
						</button>
						<button class="exclusive__apart-watch">Показать номер</button>
					</div>
				</div>
			</div>
			<div class="exclusive__apart swiper-slide">
				<img src="img/ex.jpg" alt="" class="exclusive__apart-image">
				<div class="exclusive__apart-info">
					<div class="exclusive__apart-info--left">
						<p class="exclusive__apart-price">13 750 000 ₽</p>
						<p class="exclusive__apart-chars">3-к квартира, 57м2, 12/15 эт.</p>
						<p class="exclusive__apart-address">Коминтерновский район, Московский проспект,114</p>
					</div>
					<div class="exclusive__apart-info--right">
						<button class="exclusive__apart-like">
							<svg>
								<use xlink:href="img/sprite.svg#like"></use>
							</svg>
						</button>
						<button class="exclusive__apart-watch">Показать номер</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<button class="exclusive__nav prev">
		<svg>
			<use xlink:href="img/sprite.svg#left_slide"></use>
		</svg>
	</button>
	<button class="exclusive__nav next">
		<svg>
			<use xlink:href="img/sprite.svg#right_slide"></use>
		</svg>
	</button>
	<div class="exclusive__pagination"></div>
</section>