<header class="header">
    <div class="container">
        <a href="/" class="logo">
            <svg>
                <use xlink:href="img/sprite.svg#logo"></use>
            </svg>
        </a>
        <nav class="nav">
            <button class="nav__item">Каталог недвижимости</button>
            <a href="" class="nav__item">Ипотека</a>
            <a href="" class="nav__item">О нас</a>
            <a href="" class="nav__item">Карьера</a>
            <a href="" class="nav__item">Отзывы</a>
            <a href="" class="nav__item">Вакансии</a>
            <a href="" class="nav__item">Прочее</a>
        </nav>
        <a href="" class="header__contacts">
            Офисы и контакты
        </a>
    </div>
</header>