<section class="know">
	<div class="exclusive__top-text">
		<p class="exclusive__top-text--title">У нас есть ответы</p>
		<p class="exclusive__top-text--desc">В данном случае я выступаю в роли Морфеуса — лишь указываю на дверь, войти придётся самостоятельно.</p>
	</div>
	<div class="know__field">
		<div class="know__field-item">
			<div class="know__visible">
				<p class="know__visible-question">Какие услуги будут оказаны и сколько это стоит для покупателя или продавца?</p>
				<button class="know__visible-show">
					<svg>
						<use xlink:href="img/sprite.svg#know_arrow"></use>
					</svg>
				</button>
			</div>
			<div class="know__hidden">
				<p class="know__hidden-item">Если вы поручаете риэлтору продать или купить объект недвижимости, у вас есть собственные ожидания по цене. Они могут быть адекватными, заниженными или завышенными, потому что вы не являетесь специалистом в этой области.</p>
				<p class="know__hidden-item">Когда риэлтор называет вам цену, он должен ее обосновать с позиции рынка. Профессионал хорошо знает состояние и динамику рынка недвижимости вашего региона, владеет аналитическими и статистическими данными.</p>
			</div>
		</div>
		<div class="know__field-item">
			<div class="know__visible">
				<p class="know__visible-question">Какие риски могут возникнуть при сделке?</p>
				<button class="know__visible-show">
					<svg>
						<use xlink:href="img/sprite.svg#know_arrow"></use>
					</svg>
				</button>
			</div>
			<div class="know__hidden">
				<p class="know__hidden-item">Если вы поручаете риэлтору продать или купить объект недвижимости, у вас есть собственные ожидания по цене. Они могут быть адекватными, заниженными или завышенными, потому что вы не являетесь специалистом в этой области.</p>
				<p class="know__hidden-item">Когда риэлтор называет вам цену, он должен ее обосновать с позиции рынка. Профессионал хорошо знает состояние и динамику рынка недвижимости вашего региона, владеет аналитическими и статистическими данными.</p>
			</div>
		</div>
		<div class="know__field-item">
			<div class="know__visible">
				<p class="know__visible-question">Какие действия будут предприняты в случае возникновения непредвиденных обстоятельств?</p>
				<button class="know__visible-show">
					<svg>
						<use xlink:href="img/sprite.svg#know_arrow"></use>
					</svg>
				</button>
			</div>
			<div class="know__hidden">
				<p class="know__hidden-item">Если вы поручаете риэлтору продать или купить объект недвижимости, у вас есть собственные ожидания по цене. Они могут быть адекватными, заниженными или завышенными, потому что вы не являетесь специалистом в этой области.</p>
				<p class="know__hidden-item">Когда риэлтор называет вам цену, он должен ее обосновать с позиции рынка. Профессионал хорошо знает состояние и динамику рынка недвижимости вашего региона, владеет аналитическими и статистическими данными.</p>
			</div>
		</div>
		<div class="know__field-item">
			<div class="know__visible">
				<p class="know__visible-question">Какие услуги будут оказаны и сколько это стоит для покупателя или продавца?</p>
				<button class="know__visible-show">
					<svg>
						<use xlink:href="img/sprite.svg#know_arrow"></use>
					</svg>
				</button>
			</div>
			<div class="know__hidden">
				<p class="know__hidden-item">Если вы поручаете риэлтору продать или купить объект недвижимости, у вас есть собственные ожидания по цене. Они могут быть адекватными, заниженными или завышенными, потому что вы не являетесь специалистом в этой области.</p>
				<p class="know__hidden-item">Когда риэлтор называет вам цену, он должен ее обосновать с позиции рынка. Профессионал хорошо знает состояние и динамику рынка недвижимости вашего региона, владеет аналитическими и статистическими данными.</p>
			</div>
		</div>
	</div>
</section>