<footer class="footer">
	<div class="container">
		<a href="/" class="logo">
			<svg>
				<use xlink:href="img/sprite.svg#footer_logo"></use>
			</svg>
		</a>
		<nav class="nav">
			<a href="" class="nav__item">Каталог недвижимости</a>
			<a href="" class="nav__item">Ипотека</a>
			<a href="" class="nav__item">О нас</a>
			<a href="" class="nav__item">Карьера</a>
			<a href="" class="nav__item">Отзывы</a>
			<a href="" class="nav__item">Вакансии</a>
			<a href="" class="nav__item">Прочее</a>
		</nav>
		<a href="" class="header__contacts">
			Офисы и контакты
		</a>
	</div>
	<div class="footer__bot">
		<div class="container">
			<p class="footer__policy">©2000-2022 Компания «Траст». Все права защищены. При использовании материалов гиперссылка обязательна.</p>
			<a href="https://vk.com/" class="footer__link" target="_blank">
				<svg>
					<use xlink:href="img/sprite.svg#vk"></use>
				</svg>
			</a>
		</div>
	</div>
</footer>