<section class="news">
  <div class="news__item">
    <p class="news__item-pseudo">Рассказываем о полезном и интересном</p>
    <p class="news__item-name">Новости и акции рынка недвижимости</p>
    <p class="news__item-desc">В данном случае я выступаю в роли Морфеуса — лишь указываю на дверь</p>
    <a href="" class="news__item-all">Все эксклюзивы</a>
  </div>
  <div class="news__item">
    <p class="news__item-pseudo">Объясним и покажем</p>
    <p class="news__item-name">Проконсультируем бесплатно</p>
    <p class="news__item-desc">В данном случае я выступаю в роли Морфеуса — лишь указываю на дверь</p>
    <a href="" class="news__item-all">Все эксклюзивы</a>
  </div>
</section>