/* Primary Colors */

$primary5: #EAF0FA;
$primary20: #BFD1F0;
$primary30: #7FA3E2;
$primary40: #5484D8;
$primary50: #2965CE;
$primary60: #1D4790;

/* Neutral Colors */

$neutral5: #ECEDEE;
$neutral20: #D9DADC;
$neutral30: #B3B6BA;
$neutral40: #8E9197;
$neutral50: #686D75;
$neutral60: #424852;
$neutral70: #2E3239;
$neutral80: #1A1D21;

/* Success Colors */

$success5: #E9F5E8;
$success20: #BCE0B9;
$success30: #79C272;
$success40: #4CAD43;
$success50: #1F9914;
$success60: #166B0E;